body {
    font-family: 'Fira Sans', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  
  .nav {
    text-align: center;
  }

  .days {
  border-radius:10px;
  background:transparent;
  padding: 25px;
  margin: 25px;
  display: flex;
  width: 500px;
  height: 100px;
  border: black;
  }

  #previous-searches {
    display: inline-block;
  }